button {
  background-color: #ffb10a;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid #ffb10a;
  border-radius: 1rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: 2px solid #ffb10a;
  box-shadow: 5px 5px 10px 0px black;
}
