body {
  background-color: #fffc82;
  display: flex;
  width: 50%;
  align-items: center;
}

canvas {
 align-self: center;
 border: 3px solid #b7b300;
 border-radius: 1rem;
}

h1 {
  color: black;
  font-family: Arial;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;

}
p {
  color: #353535;
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
}

.title {
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  /* width: 90%; */
  margin: auto;
  /* padding: 5px; */
  align-content: center;
}

.wrapper {
  display: flex;
  flex: wrap;
  flex-direction: row;
  /* width:90%; */
  height: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color:#ffffff;
}

.byline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  border: 2px solid black;
  border-radius: 100%;
}

.column2 {
  /* width: 75%; */
  order: 2;
  flex-grow: 2;
  padding: 10px;
  /*flex-direction: column;*/
}

.column1 {
  /* width: 25%; */
  order: 1;
  flex-grow: 1;
  padding: 10px;
  border: solid 2px black;
  /*flex-direction: column;*/
}

/* .main {
  align-self: center;
  justify-content: center;
} */
