/* Globals */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #474747;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0%;
}

canvas {
 align-self: center;
 border: 3px solid #262626;
 border-radius: 1rem;
}
/* VVV It may not look like it, but this is important!! VVV */
/* ^^^ Do not delete!!! ^^^ */

h1 {
  font-family: sans-serif;
  color: black;
  text-align: center;
  background: linear-gradient(red, #ff3030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: sans-serif;
  color: black;
  text-align: center;
  background: linear-gradient(black, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: sans-serif;
  color: gray;
  font-style: italic;
  font-size: 1rem;
}

p {
  font-family: sans-serif;
  color:black;
}

a {
  font-family: sans-serif;
  color:black;
}

li {
  font-family: sans-serif;
}

/* Classes */

.title {
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: 90%;
  margin: auto;
  padding: 5px;
  align-content: center;
}


.titlebanner {
  height: 10rem;
  width: auto;
}

.logo {
  height: 100px;
  width: auto;
  border: solid 0px black;
  border-radius: 100%;
  margin-right: 2rem;
}

.column-title {
  display: flex;
  flex: wrap;
  flex-direction: row;
  width: 50%;
  margin: auto;
  padding: 5px;
  align-content: center;
}

.column-subtitle {
  display: flex;
  flex: wrap;
  flex-direction: row;
  width: 25%;
  margin: auto;
  padding: 5px;
  align-content: center;
}

.column-side-image {
  height: 50px;
  width: auto;
  align-self: center;
  border: solid 0px black;
  border-radius: 100%;
  margin-right: 2rem;
}

.wrapper {
  display: flex;
  flex: wrap;
  flex-direction: column;
  width:90%;
  height: 90%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color:#ffffff;
  border: solid 2px black;
  border-radius: 1rem;
}

 /* Content Columns */

 .navagation {
   display: flex;
   flex-direction: row;
   width: 100%;
   order: 1;
   padding: 10px;
   align-items: flex-start;
   justify-content: space-around;
 }

 .content {
   order: 2;
   margin: 1rem;
   justify-content: center;
   align-content: center;
 }

/* Pacman Css */

.header {
  width: 775px;
  background-color: white;
  padding: 10px;
  border: 3px solid #262626;
  border-radius: 10px;
}

.byline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  border: 2px solid black;
  border-radius: 100%;
  margin-right: 1rem;
}

/* Other CSS */

#name {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  font-family: sans-serif;
  color: black;
}
